<main>
  <div class="panel">
    <form action="/expense/{{record._id}}?_method=PUT" method="POST" class="text-center pt-5">
      <p class="d-inline required">必填欄位*</p>
      <h4 class="d-inline ml-3">請修改你的支出</h4>
      <div class="mt-2 mt-5 title">名稱* :<input type="text" name="name" class="ml-3" required="required"
          value="{{record.name}}">
      </div>
      <div class="mt-2 mt-5 title">商家* :<input type="text" name="merchant" class="ml-3" required="required"
          value="{{record.merchant}}">
      </div>
      <div class="mt-2 mt-4 title">日期* :<input type="date" name="date" class="ml-3" required="required"
          placeholder="date" value="{{recordDate}}">
      </div>
      <div class="mt-2 mt-4 title">類別* :<select type="text" name="category" class="ml-3" required="required">
          <option value="家居物業" {{#ifSelected categoryName "家居物業" }} selected {{/ifSelected}}>家居物業</option>
          <option value="交通出行" {{#ifSelected categoryName "交通出行" }} selected {{/ifSelected}}>交通出行</option>
          <option value="休閒娛樂" {{#ifSelected categoryName "休閒娛樂" }} selected {{/ifSelected}}>休閒娛樂</option>
          <option value="餐飲食品" {{#ifSelected categoryName "餐飲食品" }} selected {{/ifSelected}}>餐飲食品</option>
          <option value="其他" {{#ifSelected categoryName "其他" }} selected {{/ifSelected}}>其他</option>
        </select>
      </div>
      <div class="mt-2 mt-4 title">金額* :<input type="number" name="amount" class="ml-3" required="required"
          value="{{record.amount}}"></div>
      <div class="d-flex justify-content-center mt-5 pb-5">
        <button class="btn btn-info create" type="submit">Save</button>
      </div>
      <div class="d-flex justify-content-end mt-2 pb-5">
        <a href="/" class="btn btn-dark back">Back</a>
      </div>
    </form>
  </div>
</main>